@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;900&family=Taprom&display=swap");
body {
  max-width: 1240px;
  min-width: 350px;
  margin: 0 auto;
  font-family: "Poppins", sans-serif;
}

/* Reset and base styles  */
* {
  padding: 0px;
  margin: 0px;
  border: none;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* Links */
a, a:link, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

/* Common */
aside, nav, footer, header, section, main {
  display: block;
}

h1, h2, h3, h4, h5, h6, p {
  font-size: inherit;
  font-weight: inherit;
}

ul, ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

img, svg {
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

/* Form */
input, textarea, button, select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

button, input[type=submit] {
  display: inline-block;
  -webkit-box-shadow: none;
          box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

input:focus, input:active,
button:focus, button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

:root {
  --smoky-white: #f0f0f0;
  --black: #242424;
  --orange: #ff4900;
  --white: #ffffff;
  --popins: "Popins", sans-serif;
  --taprom: "Taprom", system-ui;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 45px 0px 40px;
}

.header__logo {
  width: 168px;
  height: 65px;
}

.header__button {
  width: 153px;
  height: 58px;
  background-color: var(--orange);
  border-radius: 10px;
  color: var(--white);
  -webkit-box-shadow: 0px 20px 35px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 20px 35px rgba(0, 0, 0, 0.2);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  font-family: Poppins;
  font-size: 20px;
  font-weight: 600;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 35px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 500;
}

.menu_active {
  color: var(--orange);
}

.world {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 156px;
  height: 657px;
  margin-top: 49px;
  z-index: -1;
}

.world__travelFun {
  font-weight: 700;
  font-size: 128px;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  -webkit-transform-origin: top left;
          transform-origin: top left;
  width: 657px;
  height: 192px;
  position: absolute;
  top: 660px;
  left: -50px;
  color: rgba(0, 0, 0, 0.0588235294);
}

.world__compass {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 34px;
  gap: 10px;
}

.world__title {
  font-size: 64px;
  font-weight: 700;
  width: 558px;
  height: 308px;
  color: var(--black);
}

.wirld__title_acente {
  font-family: "Taprom", sans-serif;
  font-weight: 200;
  color: var(--orange);
}

.world__subtitle {
  width: 579px;
  height: 72px;
  margin-top: 30px;
  line-height: 40px;
}

.world__button {
  margin-top: 56px;
  padding: 14px 32px;
  border-radius: 10px;
  font-size: 20px;
  font-weight: 600;
  color: var(--white);
  text-align: center;
}

.world__button_orange {
  width: 221px;
  height: 58px;
  margin-right: 20px;
  background-color: var(--orange);
  -webkit-box-shadow: 25px 20px 35px rgba(255, 72, 0, 0.2);
          box-shadow: 25px 20px 35px rgba(255, 72, 0, 0.2);
}

.world__button_orange:hover {
  background-color: #ff9d00;
}

.world__button_black {
  width: 198px;
  height: 58px;
  background-color: var(--black);
  -webkit-box-shadow: 0px 20px 35px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 20px 35px rgba(0, 0, 0, 0.2);
}

.world__button_black:hover {
  color: azure;
}

.world__foto {
  position: relative;
  width: 536px;
  height: 558px;
}

.world__foto-header {
  position: absolute;
  border-radius: 10px;
  border: 8px solid;
  border-color: #fff;
}

.world__foto-1 {
  width: 298px;
  height: 344px;
  top: 35px;
}

.world__foto-2 {
  width: 302px;
  height: 347px;
  top: 194px;
  left: 190px;
}

.world__foto-3 {
  width: 240px;
  height: 277px;
  top: 316px;
  left: 20px;
}

.world__travel-plan {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  z-index: 2;
  width: 165px;
  height: 70px;
  top: 89px;
  left: 244px;
  border-radius: 10px;
  background-color: var(--white);
  -webkit-box-shadow: 0px 20px 35px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 20px 35px rgba(0, 0, 0, 0.2);
  padding: 6px 14px 6px 6px;
}

.world__travel-plan_foto {
  border-radius: 10px;
}

.world__travel-plan_title {
  font-size: 14px;
  font-weight: 700;
}

.world__travel-plan_subtitle {
  font-size: 10px;
  font-weight: 200;
  margin-top: 2px;
}

.world__travel-best {
  position: absolute;
  z-index: 2;
  width: 128px;
  height: 105px;
  top: 405px;
  left: -72px;
  border-radius: 10px;
  background-color: var(--white);
  -webkit-box-shadow: 0px 20px 35px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 20px 35px rgba(0, 0, 0, 0.2);
  padding: 13px 11px 12px 13px;
}

.world__travel-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  margin-bottom: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.world__travel-icon_img {
  width: 20px;
  height: 20px;
}

.world__travel-icon_subtitle {
  font-size: 11px;
  font-weight: 500;
}

.subtitle {
  font-size: 20px;
  font-weight: 500;
}