.buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.button {
    width: 40px;
    height: 40px;
    border-radius: 50px;
    background-color: aquamarine;
}


.button__left {
    background-color: #DFDFDF;
}

.button__left:hover {
    background-color:  #bfbfbf;
}

.button__right {
    background-color: var(--orange);
}

.button__right:hover {
    background-color: #ea4200;
}

.button__orange {
    background-color: var(--orange);
}

.button__orange:hover {
    background-color: #ea4200;
}