.header {
    display: flex;
    justify-content: space-between;
    padding: 40px 45px;
}

.header__logo {
    width: 168px;
    height: 65px;
}

.header__button {
    width: 153px;
    height: 58px;
    background-color: var(--orange);
    border-radius: 10px;
    color: var(--white);
    box-shadow: 0px 20px 35px rgba(0, 0, 0, 0.2);
    
    
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;

    font-family: Poppins;
    font-size: 20px;
    font-weight: 600;
}