.world {
    position: relative;
    display: flex;
    gap: 156px;
    height: 657px;
    margin-top: 49px;
    z-index: -1;
}


.world__travelFun {
    font-weight: 700;
    font-size: 128px;
    transform: rotate(-90deg);
    transform-origin: top left;
    width: 657px;
    height: 192px;
    z-index: -1;
    position: absolute;
    top: 660px;
    left: -50px;
    color: #0000000f;
}

.world__compass {
    display: flex;
    padding-top: 34px;
    gap: 10px;
}

.world__title {
    font-size: 64px;
    font-weight: 700;
    width: 558px;
    height: 308px;
    color: var(--black);
}

.wirld__title_acente {
    font-family: 'Taprom', sans-serif;
    font-weight: 200;
    color: var(--orange);
}

.world__subtitle {
    width: 579px;
    height: 72px;
    margin-top: 30px;
    line-height: 40px;
}

.world__button {
    margin-top: 56px;
    padding: 14px 32px;
    border-radius: 10px;
    font-size: 20px;
    font-weight: 600;
    color: var(--white);
    
    text-align: center;
}

.world__button_orange {
    width: 221px;
    height: 58px;
    margin-right: 20px;
    background-color: var(--orange);
    box-shadow: 25px 20px 35px rgb(255 72 0 / 20%);
}

.world__button_orange:hover {
    background-color: #ff9d00;
}

.world__button_black {
    width: 198px;
    height: 58px;
    background-color: var(--black);
    box-shadow: 0px 20px 35px rgba(0, 0, 0, 0.2);
}

.world__button_black:hover {
    color: azure;
}

.world__foto {
    position: relative;
    width: 536px;
    height: 558px;
}

.world__foto-header {
    position: absolute;
    border-radius: 10px;
    border: 8px solid;
    border-color: #fff;
}

.world__foto-1 {
    width: 298px;
    height: 344px;
    top: 35px;
}

.world__foto-2 {
    width: 302px;
    height: 347px;
    top: 194px;
    left: 190px;
}

.world__foto-3 {
    width: 240px;
    height: 277px;
    top: 316px;
    left: 20px;
}

.world__travel-plan {
    position: absolute;
    display: flex;
    gap: 10px;
    z-index: 2;
    width: 165px;
    height: 70px;
    top: 89px;
    left: 244px;
    border-radius: 10px;
    background-color: var(--white);
    box-shadow: 0px 20px 35px rgba(0, 0, 0, 0.2);
    padding: 6px 14px 6px 6px;
}

.world__travel-plan_foto {
    border-radius: 10px;
}

.world__travel-plan_title {
    font-size: 14px;
    font-weight: 700;
}

.world__travel-plan_subtitle {
    font-size: 10px;
    font-weight: 200;
    margin-top: 2px;
}

.world__travel-best {
    position: absolute;
    z-index: 2;
    width: 128px;
    height: 105px;
    top: 405px;
    left: -72px;
    border-radius: 10px;
    background-color: var(--white);
    box-shadow: 0px 20px 35px rgba(0, 0, 0, 0.2);
    padding: 13px 11px 12px 13px;
}

.world__travel-icon {
    display: flex;
    gap: 10px;
    margin-bottom: 10px;
    align-items: center;
}

.world__travel-icon_img {
    width: 20px;
    height: 20px;
}

.world__travel-icon_subtitle {
    font-size: 11px;
    font-weight: 500;
}