@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;900&family=Taprom&display=swap');

body {
    max-width: 1240px;
    min-width: 350px;
    margin: 0 auto;
    font-family: 'Poppins', sans-serif;
}