:root {
    //colors

    --smoky-white: #f0f0f0;
    --black: #242424;
    --orange: #ff4900;
    --white: #ffffff;

    //fonts
    --popins: 'Popins', sans-serif;
    --taprom: 'Taprom', system-ui;
}